Source: com.github.fluks-eos.gdice
Maintainer: fluks <fluks.github+fluks-eos@gmail.com>
Section: utils
Priority: extra
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9),
               bison,
               flex,
               gettext (>= 0.17),
               intltool (>= 0.35.0),
               libgtk-3-dev,
               libgstreamer1.0-dev

Package: com.github.fluks-eos.gdice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A dice roller
 A dice rolling program with various different dices.
